* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: roboto, arial, sans-serif;
  font-size: 5vmin;
  color: rgba(255, 255, 255, 0.8);
}

body {
  background-color: rgb(0, 0, 0);
  font-family: arial;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  width: 100%;
  height: 100vh;
  // border: 1px solid red;
}

#mainWrap {
  margin: 0 auto;
  width: 80%;
  max-width: 800px;
  height: 100%;
  display: flex;
  background-color: rgb(92, 0, 0);
  flex-direction: column;
  align-content: center;
  align-items: center;
  border: 1px solid rgb(223, 223, 19);
  justify-content: space-evenly;
  padding: 20px;
  overflow: hidden;
}
#statusWrap {
  width: 100%;
  border: 3px solid rgb(0, 44, 0.5);
  background-color: rgb(180, 1, 1);
  color: rgba(255, 255, 255, 0.7);
  // padding: 2vmin;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: center;
}
.feedback {
  display: flex;
  width: 100%;
  padding: 3vmin;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  font-size: 3vmin;
  text-transform: uppercase;
  // border: 1px solid blue;
}

#status {
  display: flex;
  width: 30vmin;
  height: 30vmin;
  // padding: 5vmin;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  // border: 1px solid blue;
}

.status {
  width: 100%;
  height: 100%;
  // background-image: url(../images/boom.svg);
  //need to hide border from gh pages
  // border: 0px solid rgba(0, 0, 0, 0);
}

// #phraseWrap{}
// #categoryWrap{}

#lettersWrap{
  display: flex;
  width: 100%;
  // border: 1px solid white;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
}

button {
  width: 11.5%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  flex-grow: 0;
  font-size: 5vmin;
  border: 1px solid rgba(0, 0, 0, 0.3);
  &:hover{
    background-color: yellowgreen;
  }
  &:disabled{
    background-color: rgb(170, 102, 0);
  }
}



