<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>HANGMAN BY BARTOSZ NOWICKI</title>
</head>

<body>
  <section id="mainWrap">
    <div id="statusWrap">
      <p class="feedback"></p>
      <div id="status"><img class="boom" src="../images/boom.svg" alt="explosion"></div>
    </div>
    <div id="phraseWrap"></div>
    <div id="categoryWrap"></div>
    <div id="lettersWrap"></div>

  </section>
</body>

</html>